[Desktop Entry]
Name=Monophony
GenericName=Client for YouTube Music
Comment=Stream music from YouTube Music
Exec=monophony
Terminal=false
Type=Application
StartupNotify=false
SingleMainWindow=true
Icon=io.gitlab.zehkira.Monophony
Categories=AudioVideo;Audio;Music;GNOME;GTK;
X-Purism-FormFactor=Workstation;Mobile;
Keywords=music;stream;youtube;yt;
